h1 {
  text-align: left;
  color: whitesmoke;
  margin-left: 30px;
  margin-right: 30px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

}

li {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
  color: whitesmoke;

  margin: 8px;

}

li p {
  text-align: center;
}

.files img {
  height: 60px;
  width: 60px;
}